.container{
    float: left;
    background: red;
    margin-top: 50px;
    /* position: relative; */
    position: fixed;
}
.container iframe{
    border-radius: 2%;
    width: 55%;
    height: 70vh;
    margin: 10px;
    /* position: absolute; */
}
.container h1{ padding: 30px;}
.nho{
    background: blue;
    float: right;
    width: 35%;

    margin-top: 40px;

}
.nho img{ width: 50%;
    height: 20vh;
     margin: 15px;;}
