.sidenav {
    /* background: black; */
    width: 150px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    left: 50px;
    padding: 0px 0;
    top: 100px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}
.main img{
    height: 400px;
    text-align: center;
    display: block;
    margin: auto;
}
.sidenav a:hover {
    color: #064579;
    text-decoration: none;
}

.main {
    margin-left: 400px; /* Same width as the sidebar + left position in px */
    font-size: 16px; /* Increased text to enable scrolling */

    padding: 0px 20px;
    /* text-align: center; */
    /* background: black; */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
